<div class='row'>
  <div class="col-md-12">
    <h3 class='mt-5'>Projects List</h3>
    <div class='text-right'>
      <a class='btn btn-success' routerLink='/new-job'> Create</a>
    </div>
  </div>
</div>
<div class='row'>
  <div class="col-md-12">
    <table class='table table-striped mt-5'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Created</th>
          <th>Builders</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects;">
          <td>{{ project.name }}</td>
          <td>{{ project.created }}</td>
          <td>
            <ul>
              <li *ngFor="let builder of project.builders; let i = index">
                {{ builder }}
              </li>
            </ul>
          </td>
          <td><a href='#' class='btn btn-info'><i class='fa fa-edit'></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
