<div class="row">
  <div class="col-lg-12">
    <h3 class="mt-5"><span class="fa fa-wrench"></span> Job Creation</h3>
    <hr />
  </div>
</div>
<!-- Form -->
<form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Details</legend>
    <div class="row">
      <!-- Name -->
      <div class="col-lg-5">
        <div class="control-group">
          <label for="jobname">Name</label>
          <input type="text" name="jobname" id="jobname" class="form-control"
            [ngClass]="{'is-invalid': !jobForm.get('jobname').valid && jobForm.get('jobname').touched}" formControlName="jobname" /> 
          <span class="invalid-feedback">Job name is required</span>
        </div>
      </div>
    </div>
  </fieldset>
  <!-- Builders -->
  <app-builder [basicForm]="jobForm"></app-builder>
  <fieldset class="mt-3">
    <legend>Tools Configuration</legend>
    <div class="row">
      <!-- Checkstyle -->
      <div class="col-lg-6">
        <div class="control-group">
          <label for="checkstyle">Checkstyle</label>
          <input type="text" name="checkstyle" id="checkstyle" class="form-control" [ngClass]="{'is-invalid': !jobForm.get('checkstyle').valid && jobForm.get('checkstyle').touched}" placeholder="Path" formControlName='checkstyle' />
          <span class="invalid-feedback">Path is required</span>
        </div>
      </div>
      <!-- PHP Unit -->
      <div class="col-lg-6">
        <div class="control-group">
          <label for="phpunit">PHP Unit</label>
          <input type="text" name="phpunit" id="phpunit" class="form-control" [ngClass]="{'is-invalid': !jobForm.get('phpunit').valid && jobForm.get('phpunit').touched}" placeholder="Path" formControlName='phpunit'/>
          <span class="invalid-feedback">Path is required</span>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <!-- PHP CPD -->
      <div class="col-lg-6">
        <div class="control-group">
          <label for="phpcpd">PHP CPD</label>
          <input type="text" name="phpcpd" id="phpcpd" class="form-control" [ngClass]="{'is-invalid': !jobForm.get('phpcpd').valid && jobForm.get('phpcpd').touched}" placeholder="Path" formControlName='phpcpd'/>
          <span class="invalid-feedback">Path is required</span>
        </div>
      </div>
      <!-- PHP DOX -->
      <div class="col-lg-6">
        <div class="control-group">
          <label for="phpdox">PHP Dox</label>
          <input type="text" name="phpdox" id="phpdox" class="form-control" [ngClass]="{'is-invalid': !jobForm.get('phpdox').valid && jobForm.get('phpdox').touched}"  placeholder="Path" formControlName='phpdox' />
          <span class="invalid-feedback">Path is required</span>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <!-- PHP CPD -->
      <div class="col-lg-6">
        <div class="control-group">
          <label for="phploc">PHP Loc</label>
          <input type="text" name="phploc" id="phploc" class="form-control" [ngClass]="{'is-invalid': !jobForm.get('phploc').valid && jobForm.get('phploc').touched}" placeholder="Path" formControlName='phploc' />
          <span class="invalid-feedback">Path is required</span>
        </div>
      </div>
      <!-- PHP Depend -->
      <div class="col-lg-6">
        <div class="control-group">
          <label for="phpdepend">PHP Depend</label>
          <input type="text" name="phpdepend" id="phpdepend" class="form-control" [ngClass]="{'is-invalid': !jobForm.get('phpdepend').valid && jobForm.get('phpdepend').touched}" placeholder="Path" formControlName='phpdepend'  />
          <span class="invalid-feedback">Path is required</span>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <!-- PHP MD -->
      <div class="col-lg-6">
        <div class="control-group">
          <label for="phpmd">PHP MD</label>
          <input type="text" name="phpmd" id="phpmd" class="form-control" [ngClass]="{'is-invalid': !jobForm.get('phpmd').valid && jobForm.get('phpmd').touched}" placeholder="Path" formControlName='phpmd'  />
          <span class="invalid-feedback">Path is required</span>
        </div>
      </div>
    </div>
  </fieldset>
  <!-- Buttons Form -->
  <div class="row mt-10">
    <div class="col-lg-12 text-right">
      <hr />
      <a routerLink="/" class="btn btn-primary mr-2">
        <i class="fa fa-backward"></i> Back
      </a>
      <button type="submit" class="btn btn-success" [disabled]="!jobForm.valid">
        <i class="fa fa-save"></i> Save
      </button>
    </div>
  </div>
</form>
<footer style="padding-top: 3rem; padding-bottom: 3rem;">
  <div class="container">
    <p></p>
  </div>
</footer>