
  <fieldset [formGroup]="basicForm" class="mt-3">
    <legend>Builders</legend>
    <div class="row">
      <!-- Options -->
      <div class="col-lg-5">
        <div class="control-group">
          <label for="builders">Options</label>
          <div class="input-group">
            <select name="builders" id="builders" class="form-control" formControlName="builders">
              <option value="">Select a builder</option>
              <option *ngFor="let builderOption of builderOptions" value="{{ builderOption }}">
                {{ builderOption }}
              </option>
            </select>
            <span class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="onAddBuilder(basicForm.get('builders').value)" type="button"
                [disabled]="basicForm.get('builders').value == ''">
                <i class="fa fa-plus"></i> Add
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-hover mt-3">
          <thead>
            <tr>
              <th style="width:10%">Name</th>
              <th>&nbsp;</th>
              <th>Parameters</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tr *ngFor="let selectedBuilder of selectedBuilders" formGroupName="userBuilder" >
            <td class="align-middle">
              <img src="/assets/images/{{ selectedBuilder | lowercase }}.png" />
            </td>
            <td class="align-middle">
              <strong>{{ selectedBuilder }}</strong>
            </td>
            <td>
              <input class="form-control" type="text" formControlName="{{ selectedBuilder | lowercase }}"  />
            </td>
            <td class="text-center">
              <button class="btn btn-danger" 
                (click)="onRemoveBuilder(selectedBuilder)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          <tr *ngIf="selectedBuilders.length == 0">
            <td class="text-center" colspan="4">There's no builder selected.</td>
          </tr>
        </table>
      </div>
    </div>
  </fieldset>
